<footer class="footer">
  <div class="container">
    <div>
      <a href="mailto:NonBinaryLeeds@gmail.com">
        {% include icon.html id="email" title="Email" %}
        NonBinaryLeeds@gmail.com
      </a>
    </div>
    <div>
      <a href="https://www.facebook.com/nonbinaryleeds">
        {% include icon.html id="facebook" title="Facebook" %}
        nonbinaryleeds
      </a>
    </div>
    <div>
      <a href="https://twitter.com/NonBinaryLeeds">
        {% include icon.html id="twitter" title="Twitter" %}
        NonBinaryLeeds
      </a>
    </div>
    <div>
      <a href="#top">
        Back to top
      </a>
    </div>
  </div>
</footer>
