<p>We'd like to thank the following organisations and groups for their support:</p>

<ul class="supporters">
  <li><a href="https://www.leeds.gov.uk/">Leeds City Council</a></li>
  <li><a href="https://www.facebook.com/LGBTInclusiveLeeds/">Leeds LGBT+ Hub</a></li>
  <li><a href="https://www.mesmac.co.uk/">Yorkshire Mesmac</a></li>
  <li><a href="http://www.wyqs.co.uk/">West Yorkshire Queer Stories</a></li>
  <li><a href="https://www.clayleeds.co.uk/">CLAY - Centre for Live Art Yorkshire</a></li>
  <li><a href="hhttps://www.facebook.com/AgeofThe/">AgeOfThe.</a></li>
  <li><a href="https://www.facebook.com/ourspaceleeds/">Our Space</a></li>
  <li><a href="https://www.transprideleeds.org/">Trans Pride Leeds</a></li>
  <li><a href="https://www.wharfchambers.org/">Wharf Chambers</a></li>
  <li><a href="https://www.leedsandyorkpft.nhs.uk/get-involved/rainbow-alliance/">Rainbow Alliance</a></li>
  <li><a href="https://transleeds.lgbt/">TransLeeds</a></li>
  <li><a href="https://flamingoscoffeehouse.co.uk/">Flamingos Coffee House</a></li>
  <li><a href="https://museumsandgalleries.leeds.gov.uk/leeds-city-museum/">Leeds City Museum</a></li>
  <li><a href="https://www.facebook.com/ProuderComms/">Prouder Communities - Barnardo’s</a></li>
  <li><a href="https://twitter.com/swarm_north">SWARM North</a></li>
  <li><a href="https://lgbt.foundation/pride-in-practice/national">Pride In Practice</a></li>
  <li><a href="https://www.outingthepast.com/">Outing The Past</a></li>
</ul>
