.footer {
  background: $footerColour;
  color: $linkColour;
  a {
    color: currentColor;
    &:hover {
      color: $hoverColour;
    }
  }
  .container {
    padding: 0.5rem 0;
    div {
      margin: 0.5rem;
    }
  }
}

.typeset ul {
  li {
    margin-left: 2rem;
  }
}

ul.supporters {
  font-size: 0.9em;
  padding: 0;
  li {
    list-style-type: none;
    display: inline-block;
    margin-left: 0;
    margin-bottom: 0.5em;
    padding: 0.5em;
    border: 1px solid mix($linkColour, white, 25%);
    a {
      background-image: none;
    }
    &:not(:last-child) {
      margin-right: 0.5em;
    }
  }
}
